[submodule "submodules/tf_models"]
	path = submodules/tf_models
	url = https://github.com/tensorflow/models.git
[submodule "submodules/tfoptflow_modified"]
	path = submodules/tfoptflow_modified
	url = https://github.sec.samsung.net/AIMC-TSU/tfoptflow.git
